          <!-- Footer-->
        <footer class="footer text-center">
            <div class="container">
                <div class="row">
                    <!-- Footer Location-->
                    <div class="col-lg-4 mb-5 mb-lg-0">
                          <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-dark"></i>
                    <i class="fas fa-map-marker-alt fa-stack-1x fa-inverse"></i>
                </span>
                        <h4 class="text-uppercase mb-4">Location</h4>
                        <p class="lead mb-0">
                            2800E 3200N 
                            <br />
                            Twin Falls, ID 83301
                        </p>
                    </div>
                    <!-- Footer Social Icons-->
                    <div class="col-lg-4 mb-5 mb-lg-0">
                         <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-dark"></i>
                    <i class="fas fa-clock fa-stack-1x fa-inverse"></i>
                </span>
                        <h4 class="text-uppercase mb-4">Market Hours</h4>
                       
                     <p class="lead mb-0">Opens in May</p>
                  <p class="lead mb-0">2pm-6pm Tue/Thur</p>
                    </div>
                    <!-- Footer About Text-->
                    <div class="col-lg-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-dark"></i>
                    <i class="fas fa-home fa-stack-1x fa-inverse"></i>
                </span>
                        <h4 class="text-uppercase mb-4">First Twenty Farm</h4>
                        <p class="lead mb-0">
                            We are a small family owned farm just outside Twin Falls, ID. We believe in using all natural and organic farming methods and seek to provide our customers with only the highest quality produce.
                       
                        </p>
                    </div>
                </div>
            </div>
        </footer>
               <!-- Copyright Section-->
        <div class="copyright py-4 text-center text-white">
            <div class="container"><small>Copyright © BareMetal Networks 2021</small></div>
        </div>
  </body>
