   

                <header class="buyhead bg-primary text-white text-center" id="services">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image-->
                <!-- <img class="masthead-avatar mb-5" src="assets/img/avataaars.svg" alt="" /> -->
                <!-- Masthead Heading-->
               <h1 class="buyhead-heading text-uppercase mb-0">3 Ways to Buy</h1> 
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="<%= @dividerIcon %>"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <h3 class="masthead-subheading font-weight-light mb-0">Country Market Location | Join Our CSA | TF Farmers Market</h3>
            </div>
        </header>



<!-- Services-->

<section class="page-section" id="services">
    <div class="container">
        <div class="text-center">
        
           
        </div>
       
        <div class="row text-center mb-2">
    
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-warehouse fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">On-site Market </h4>
                <p class="text-muted">Come down to our market located at 2800E 3200N in Twin Falls County. Select from an ever changing assortment of fresh, locally produced fruits, vegetables, and herbs. Subject to  availability.</p>
            </div>


            <div class="col-md-4 mb-2">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-balance-scale fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Farmers Market</h4>
                <p class="text-muted">Find us at the Saturday Farmers Market in Twin Falls, ID. Located at 611 N College Rd, Twin Falls, ID 83301 </p>
            </div>
    
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-cheese fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">CSA Membership</h4>
                <p class="text-muted"> CSA Subscribers shop with a system of points at our Market location each week and fill their share with vegetables and fruits of their choosing!  Members enjoy spending 5-15 points per week which translates to a retail value of 16.50-49.50   “Points” are simply the Unit “Price” applied to items in the store – for members that choose to shop a la carte points are charged at a rate of $3.30 each.</p>
            </div>
        </div>

    </div>
</section>

