<header class="csahead bg-primary text-white text-center" id="csa">
<div class="container d-flex align-items-center flex-column">
<!-- Masthead Avatar Image-->
<!-- <img class="masthead-avatar mb-5" src="assets/img/avataaars.svg" alt="" /> -->
<!-- Masthead Heading-->
<h1 class="csahead-heading text-uppercase mb-0">CSA Membership</h1> 
<!-- Icon Divider-->
<div class="divider-custom divider-light">
    <div class="divider-custom-line"></div>
    <div class="divider-custom-icon"><i class="<%= @dividerIcon %>"></i></div>
    <div class="divider-custom-line"></div>
</div>
<!-- Masthead Subheading-->
<h3 class="masthead-subheading font-weight-light mb-0">Support Local! Join Our CSA Today.</h3>
</div>
</header>


<section class="page-section" id="csa">
    <div class="container">
        <div class="text-center">
             <h2 class="page-section-heading text-center text-uppercase  mb-0">CSA/Membership</h2>
       
           
        </div>
             <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                        <i class="<%= @dividerIcon %>"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
        <div class="row text-center mb-2">
            <div class="col-md-4 mb-2">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-users fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Membership Perks</h4>
                <p class="text-muted">Members will be able to pickup produce during the week when our store is closed to the public. Our market is open to the public only on Sundays. Whereas CSA Members can pickup 3 days a week. Tuesday, Thursday, and Sunday</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-box-open fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Select Your Share</h4>
                <p class="text-muted">CSA Subscribers shop with a system of points at the Farm Store each week and fill their share with vegetables and fruits of their choosing! “Points” are simply the Unit “Price” applied to items in the store – for members that choose to shop a la carte points are charged at a rate of $3.00 each.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-pepper-hot fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Convenient Schedule</h4>
                <p class="text-muted">We offer a convenient schedule with pick-up options 3 days per week (Tue, Thur, Sun 2-6pm) for you to fill your share with produce from our Market location.  CSA Members often enjoy a selection of more than 20 fresh, seasonal items grown here on our farm. Seasonal selections vary greatly and throughout the year </p>
            </div>
        </div>
    </div>
</section>

<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">How CSA Membership Works</h2>
            <h3 class="section-subheading text-muted">A walkthrough of our process for getting you up and running on the web.</h3>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image">  
                    <i class="fas fa-address-card fa-stack-2x fa-inverse"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h3>Buy CSA Shares</h3>
                        <h4 class="subheading">Pick a Membership Level</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Members enjoy spending 5-15 points per week which translates to a retail value of $15-$45  We offer spring/summer 50 point half shares ($150) and 100 point full shares ($300). </p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><i class="fas fa-shopping-cart fa-stack-2x fa-inverse"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h3>Weekly Market Days</h3>
                        <h4 class="subheading">Come Down to Our Market</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">We take the images and branding specific to your company and build it into a fully functional website. We add any necessary functionality specific to your requirements. If you need user registration & login, an administrator dashboard, analytics, email newsletter, or payment processing functionality, we can build it.</p></div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><i class="fas fa-coins fa-stack-2x fa-inverse"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h3>Spend Your Points</h3>
                        <h4 class="subheading">Spend Your Weekly CSA Points However you like from what we have available</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Make your selections based on what you would like that week. If you want to spend all your points on peppers, for example, or select a variety of items it's up to you.</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/4.jpg" alt="" /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Future Proof</h4>
                        <h4 class="subheading">Purchase Using Your CSA Points</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">At your discretion, we can update, modify, or expand your site and its' associated functionality and design.</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4><br/>
                        <%= link_to "Click to Signup", new_user_registration_path, {:class => 'btn btn-dark btn-large', :style => ' opacity: 70%'} %>
                     
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>
