        <!-- Masthead-->
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image-->
                <!-- <img class="masthead-avatar mb-5" src="assets/img/avataaars.svg" alt="" /> -->
                <!-- Masthead Heading-->
               <h1 class="masthead-heading text-uppercase mb-0">Blessed Farm</h1> 
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                                   <p class="masthead-subheading font-weight-light mb-0">Twin Falls, ID</p>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <p class="masthead-subheading font-weight-bold mb-0">All Natural Sustainable and Abundant Produce</p>

            </div>
        </header>