
<section class="page-section">
    <div class="container">
        <div class="text-center">
         <h2 class="page-section-heading text-center text-uppercase  mb-0"> Our Philosophy</h2>
       
           
        </div>
             <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                        <i class="<%= @dividerIcon %>"></i></div>
                    <div class="divider-custom-line"></div>
                </div>

                <div class="row text-center mb-2">
          <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-carrot fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">All Natural Processes</h4>
                <p class="text-muted"> All our produce is grown using natural and organic methods and inputs. We never use chemicals, synthetic pesticides or herbicides on any crops. We believe that wise management and hard labor works for us better than traditional capital, chemical & pharmaceutical based farming.</p>
            </div>



            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-seedling fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Freshness and Nutrition</h4>
                <p class="text-muted">  Our carefully selected varieties and growing practices bring out the very best in flavor and nutrition. Produce is harvested when it is ripe, just before you receive it, giving you peace of mind knowing that everything is the freshest possible.</p>
            </div>

            <div class="col-md-4 mb-2">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-people-carry fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">CSA Member Supported</h4>
                <p class="text-muted">CSA stands for “Community Supported Agriculture”. CSA's are designed to build a relationship between the farmer and community.  Members (that’s you) buy shares in the farms output before the season starts, and then reap the benefits of the harvest each week as the season progresses.</p>
            </div>
  
        </div>
    </div>
</section>

